<section id="workshop">
  <div class="row">
    <div class="span6">

      <h2 a="location">Location</h2>
      <p>RailsBridge is hosted at SUPINFO, at 666 Sherbrooke West (corner University), on the 15th floor (Friday) and 14th and 15th (Saturday).</p>
      <p>For security reasons, the main entrance on Sherbrooke is closed after 19:00 and on weekends.</p>
      <p>If you arrive after 19:00 or if you go out for a cigarette during the evening, remember to come in via the secondary entrance on University, and greet the security guard .</p>
      <p>Here’s a picture showing both entrances:</p>
      <img src="/images/SUPINFO_ACCESS.jpg" />
    </div>
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Montreal Logo with Train">
      <br />
      <br />

      <h2>Schedule</h2>
      <h3>Friday November 8:</h3>
      <dl class="dl-horizontal">
        <dt>19:00</dt> <dd>Arrival of participants</dd>
        <dt>19:30</dt> <dd>Meal*</dd>
        <dt>19:30</dt> <dd>Beginning of installation</dd>
        <dt>20:30</dt> <dd>Foundational programming skills (optional, for beginners)</dd>
      </dl>
      <h3>Saturday November 9:</h3>
      <dl class="dl-horizontal">
        <dt>08:30</dt> <dd>Arrival of participants and breakfast*</dd>
        <dt>09:00</dt> <dd>A word of introduction</dd>
        <dt>09:15</dt> <dd>Beginning of training</dd>
        <dt>10:30</dt> <dd>Break</dd>
        <dt>10:40</dt> <dd>Training</dd>
        <dt>12:00</dt> <dd>Lunch*</dd>
        <dt>13:00</dt> <dd>Training</dd>
        <dt>14:30</dt> <dd>Break</dd>
        <dt>14:40</dt> <dd>Training</dd>
        <dt>17:00</dt> <dd>Closing words</dd>
      </dl>
    </div>
  </div>
</section>




