<section id="workshop">
  <div class="row">
    <div class="span6">
      <img style="width: 400px" src="/images/railsbridge-train-black.png" alt="RailsBridge Montreal Logo with Train">
      <h2>Schedule</h2>
      <dd>

      </dd>
    </div>
    <div class="span6">
      <a href="/pre_workshop" class="btn btn-block btn-large">Before the workshop</a>
      <a href="/friday" class="btn btn-large btn-block btn-primary">Installfest Start Here</a>
    </div>
  </div>
</section>




